.menu {
  overflow: hidden;

  &.enter,
  &.leave {
    transition: 0.5s var(--transition-timing-function);
    transition-property: opacity, visibility;

    .menu__body {
      transition: inherit;
      transition-property: opacity, transform;
    }
  }

  &.enter-start,
  &.leave-end {
    visibility: hidden;
  }

  @media (--min-lg) {
    &.enter-start,
    &.leave-end {
      .menu__body {
        opacity: 0;
        transform: translateX(100%);
      }
    }
  }

  @media (--max-lg) {
    position: fixed;
    top: var(--header--height);
    right: 0;
    bottom: 0;
    left: 0;
    overscroll-behavior: contain;
    background: rgba($color-black, 0.5);
    backdrop-filter: blur(5px);

    &.enter,
    &.leave {
      transition-duration: var(--transition-duration);
    }

    &.enter-start,
    &.leave-end {
      opacity: 0;

      .menu__body {
        transform: translateX(-100%);
      }
    }
  }
}

.menu__body {
  display: flex;
  column-gap: 20rem;

  @media (--max-lg) {
    flex-direction: column;
    width: 300rem;
    height: 100%;
    padding: var(--grid-gutter) 0;
    overflow-y: auto;
    overscroll-behavior: contain;
    background: $color-white;
  }
}

.menu__item {
  padding: 6rem 0;
  overflow: hidden;
  font-size: 12rem;
  font-weight: 500;
  line-height: 1.25;
  text-overflow: ellipsis;
  text-transform: uppercase;
  white-space: nowrap;
  transition: var(--transition);
  transition-property: background-size, border-color;

  @media (--min-lg) {
    background: linear-gradient(to right, var(--color-primary), var(--color-primary)) no-repeat 50% 100% / 0 2rem;

    @include hover {
      background-size: 100% 2rem;
    }

    &.is-active {
      background-size: 100% 2rem;
    }
  }

  @media (--max-lg) {
    flex-shrink: 0;
    padding: 12rem var(--container-padding);
    font-size: 16rem;
    font-weight: 600;
    border-left: 4rem solid transparent;

    @include hover {
      border-left-color: var(--color-primary);
    }

    &.is-active {
      border-left-color: var(--color-primary);
    }
  }
}
