extends /pug/base

include /components/header/header
include /components/footer/footer

append variables
  -
    title = `${title} - Guide`;

block app
  +header()

  main.app__main
    .container
      div(style="width: 50%;")
        .el
    .el-2
    .el-3(title="Конкурс среди организаций высшего образования")

    div(style="display: grid; grid-template-columns: 1fr 1fr; grid-auto-columns: 1fr; grid-auto-flow: column;")
      div 1
      div 2
      div 3

    .container.grid-12.grid-12-min-lg.grid-max-xl.mb-3_5.mb-8-min-lg
      .col-span-1 1
      .col-span-2.col-span-2-min-lg 2
      .col-span-3 3

    .container.flex-grid-12.flex-grid-12-min-lg.flex-grid-max-xl
      .col-1 1
      .col-2.col-2-min-lg 2
      .col-3 3

    .container.guide
      +content()
        h2 Pages

        +pages(pages)

        h1 h1: Конкурс среди организаций высшего образования

        h2 h2: Конкурс среди организаций высшего образования

        h3 h3: Конкурс среди организаций высшего образования

        h4 h4: Конкурс среди организаций высшего образования

        h5 h5: Конкурс среди организаций высшего образования

        h6 h6: Конкурс среди организаций высшего образования

        a(href="#location") Anchor link

        p.
          Это #[strong информационно-познавательный] портал для молодёжи #[em Новгородской области], занимающийся реализацией
          #[a(href) молодёжной политики] во всех #[a актуальных] и действующих направлениях данной отрасли.
          Это информационно-познавательный портал для молодёжи Новгородской области, занимающийся реализацией
          молодёжной политики во всех актуальных и действующих направлениях данной отрасли.
          Это информационно-познавательный портал для молодёжи.

        p.
          Новгородской области, занимающийся реализацией молодёжной политики во всех актуальных
          и действующих направлениях данной отрасли.

        ul
          li.
            30 октября в Батецком районе будет дан старт областному походу по местам боевых сражений.
            К нему присоединятся активисты военно-патриотических клубов, центров, объединений и представители
            поисковых отрядов Новгородской области.
          li.
            Поход продлится до 1 ноября и будет посвящен боевому пути 1-й Ленинградской стрелковой дивизии
            народного ополчения, которая в июле 1941 года высадилась на станции Батецкая и заняла оборону
            на Лужском рубеже.
          li.
            В первый день участники познакомятся с виртуальной экспозицией, посвященной 1-й Кировской дивизии
            народного ополчения, посетят Исторический памятник древнеславянской культуры «Шум-Гора».

        img(src="~@images/example.jpg" alt="" width="auto")
        img(src="~@images/example.jpg?as=webp" alt="" width="auto")
        img(src="/media/example.jpg" alt="" width="auto")
        img(src="media/example.jpg" alt="" width="auto")

        h2#button(data-scroll): code button

        button Кнопка
        button(style="border-color: black;") Кнопка

  +footer()
