mixin infographics
  .infographics&attributes(attributes)
    .infographics__body
      .hidden-max-lg
        include /images/infographics.svg
      .hidden-min-lg
        include /images/infographics-mob.svg
