.block-style-1 {
  position: relative;
  z-index: 0;

  &::before {
    position: absolute;
    top: -62rem;
    right: -25rem;
    z-index: -1;
    width: 252rem;
    height: 98rem;
    pointer-events: none;
    content: "";
    background: url("~@images/icons/svg/50.svg") no-repeat 50% / contain;
  }

  @media (--max-lg) {
    &::before {
      top: calc(-1 * var(--paragraph-interval));
      right: 0;
    }
  }
}

.block-style-2 {
  display: flex;
  gap: var(--grid-gutter);
  align-items: flex-start;

  .block-icon {
    flex: 136 0 0;
  }

  .block-content {
    flex: 544 - 24 - 136 0 0;
  }

  @media (--max-md) {
    flex-direction: column;
    align-items: stretch;

    .block-icon {
      flex: none;
      height: 145rem;

      &:empty {
        display: none;
      }
    }

    .block-icon icon-svg {
      height: 100%;
    }

    .block-content {
      flex: none;
    }
  }
}

.block-number {
  position: relative;
  z-index: 0;

  &::before {
    position: absolute;
    top: -55rem;
    left: 4rem;
    z-index: -1;
    width: 189rem;
    height: 95rem;
    pointer-events: none;
    content: "";
    background: url("~@images/icons/svg/№1.svg") no-repeat 50% / contain;
  }

  &--2 {
    &::before {
      width: 214rem;
      background-image: url("~@images/icons/svg/№2.svg");
    }
  }

  &--3 {
    &::before {
      width: 218rem;
      height: 97rem;
      background-image: url("~@images/icons/svg/№3.svg");
    }
  }

  &--4 {
    &::before {
      width: 223rem;
      background-image: url("~@images/icons/svg/№4.svg");
    }
  }
}

.block-style-3 {
  img {
    width: 125rem;
  }
}

.block-style-4 {
  @media (--min-md) {
    position: sticky;
    top: 0;
    padding-top: var(--heading-interval-top);
    margin-top: calc(-1 * var(--heading-interval-top));

    &--header {
      background: linear-gradient(to bottom, $color-bg calc(100% - 32rem), rgba($color-bg, 0));
    }
  }
}
